*{
	margin: 0;
	padding: 0;
}

#frinds{
	background-color: #0097e6;
	height: 100vh;
	font-size: 0;
	text-align:center;

}

#frinds div{
	font-size: 15px;
	width: 350px;
	height: 400px;
	background-color: #7f8fa6;
	display: inline-block;
	margin: 20px;
	text-align:
	
}

img{
	width: 100px;
	height: 200px;
}

#inst{
	width: 20px;
	height: 20px;
}